<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home controller</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default_style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<!--/*@thymesVar id="previousPicture" type="com.semestral.hirnsal.db.tables.PictureEntity"*/-->
<!--/*@thymesVar id="nextPicture" type="com.semestral.hirnsal.db.tables.PictureEntity"*/-->
<!--/*@thymesVar id="actualPicture" type="com.semestral.hirnsal.db.tables.PictureEntity"*/-->
<div id="wrapper">

    <div id="imageLayer">
        <div id="picture">

            <img th:src="${actualPicture.pictureURL}" th:alt="${actualPicture.getName()}"/>


        </div>
        <div id="navigation">
        <table>
            <tr>
                <td> <a th:if="${previousPicture !=null}" th:href="'?id='+${previousPicture.getId()}">PREVIOUS</a></td>
                <td> <a th:if="${nextPicture !=null}" th:href="'?id='+${nextPicture.getId()}">NEXT</a></td>
            </tr>
        </table>
        </div>

        <div id="pictureInfo">
            <table>
                <tr>
                    <th>Název</th><th>Autor</th><th>Datum vytvoření</th><th>Datum změny</th>
                </tr>
                <tr>
                    <!--/*@thymesVar id="actualPicture" type="com.semestral.hirnsal.db.tables.PictureEntity"*/-->
                    <td th:text="${actualPicture.getName()}"></td><td th:if="${actualPicture.getAutor() !=null}" th:text="${actualPicture.getAutor().getName()}"></td><td  th:if="${actualPicture.getCreatedAt() !=null}" th:text="${actualPicture.getCreatedAt().toString()}"></td><td th:if="${actualPicture.getLastUpdate() !=null}" th:text="${actualPicture.getLastUpdate().toString()}"></td>
                </tr>
            </table>
            <br />
            <br />
            <table>
                <tr>
                    <th>Likes</th><th>Dislikes</th>
                </tr>
                <tr>
                    <!--/*@thymesVar id="actualPicture" type="com.semestral.hirnsal.db.tables.PictureEntity"*/-->
                    <td><a th:href="@{'/picture/like'(id=${actualPicture.getId()})}" th:text="${actualPicture.getLikesCount()}"></a></td>
                    <td><a th:href="@{'/picture/dislike'(id=${actualPicture.getId()})}" th:text="${actualPicture.getDislikesCount()}"></a></td>
                </tr>
            </table>
            <p>
                Tags: <br />
                <!--/*@thymesVar id="actualPicture" type="com.semestral.hirnsal.db.tables.PictureEntity"*/-->
                <span th:each="tag : ${actualPicture.getTags()}">
                    <span th:text="${tag.getTagText()} "/> |&nbsp;
                </span>
            </p>
            <br />
            <br />
        </div>
    </div>
    <div id="commentsLayer">
        <h3>Comments</h3>
        <!--/*@thymesVar id="comments" type="List"*/-->
        <!--/*@thymesVar id="comment" type="com.semestral.hirnsal.db.tables.CommentEntity"*/-->
        <div th:each="comment,iterationStatus  : ${comments}">
            <div class="comment">
                <p th:text=" ${comment.getCommentText()}" ></p>
                <p th:text="'Autor ' + ${comment.getAutor().getName()} + '| vytvořeno : ' + ${comment.getCreatedAt()}" ></p>
                <a th:href="@{'comment/like'(id=${comment.getId()})}" th:text="'Likes: '+ ${comment.getLikesCount()}" />
                <a th:href="@{'comment/dislike'(id=${comment.getId()})}" th:text="'Dislikes: '+ ${comment.getDislikesCount()}" />
            </div>
        </div>
    </div>

</div>
</body>
</html>